<% layout("/layouts/boilerplate") %>

<div class="container mt-5">
  <h3>Reset Password for <%= user.username %></h3>

  <form action="/reset-password/<%= user._id %>" method="POST">

    <div class="mb-3">
      <label>New Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        required
      >
    </div>

    <button class="btn btn-success">
      Update Password
    </button>

  </form>
</div>